/* 引入全局变量 */
@import url('./variables.css');
/* 引入tailwindcss */
@import url('./tailwind.css');

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

/* 全局滚动条 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background: #cdcdcd;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #999;
}